{% extends 'todo_frontend/base.html' %} {% load static %} {% block body %}

<div class="container">
	<div class="card mt-2">
		<div class="card-header clearfix">
			<div class="card-title">TODO LIST</div>
				<form>
					{% csrf_token %}
					<label for="live-search"><input type="text" name="live-search" id="live-search" class="form-control" placeholder="Search"/></label>
				</form>
			<button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
			data-bs-target="#exampleModal">
			<i class="bi-plus"></i>
		</button>
		</div>

		<div class="row">
			<div class="col-md-12 d-md-none">
				<ul class="nav nav-tabs px-2 pt-2">
					<li class="nav-item">
					  <a class="nav-link active" href="#">Todo</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Completed</a>
					</li>
				</ul>
			</div>
			<div class=" col-12 col-md-6">
				<div class="d-none d-md-block text-center">
					<span class="font-width-bold">Todo</span>
				</div>
				<ul id="incomplete-tasks" class="list-group">
					<li class="list-group-item m-2 rounded align-items-start placeholder"></li>
					<li class="list-group-item m-2 rounded align-items-start placeholder"></li>
					<li class="list-group-item m-2 rounded align-items-start placeholder"></li>
				</ul>
			</div>
			
			<div class="col-12 col-md-6">
				<div class="d-none d-md-block text-center">
					<span class="font-width-bold">Completed</span>
				</div>
				<ul id="completed-tasks" class="list-group">
					<li class="list-group-item m-2 rounded align-items-start placeholder"></li>
					<li class="list-group-item m-2 rounded align-items-start placeholder"></li>
					<li class="list-group-item m-2 rounded align-items-start placeholder"></li>
				</ul>
			</div>
		</div>
		<!-- <button type="button" class="updateButton" data-bs-toggle="modal" data-bs-target="#exampleModal2"></button> -->
	</div>
</div>

{% include 'todo_frontend/model.html' %} {% endblock body %}